
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" enctype="multipart/form-data" asp-action="ImportFile">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

@if (ViewBag.Message != null && ViewBag.Message.ToString().Contains("Successfully"))
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
else
{
    <div class="alert alert-danger" style="margin-top:20px">
        @ViewBag.Message
    </div>
}